html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #FDFCFC;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #000000; }

body.modal-active {
  overflow: hidden; }

h1 {
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 300; }

h2 {
  font-size: 28px;
  font-weight: 700;
  padding-top: 40px;
  clear: both;
  padding-bottom: 10px; }

h3 {
  font-size: 16px;
  margin: 40px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  clear: both;
  padding-bottom: 10px;
  font-weight: 700; }

p {
  line-height: 1.3em; }

span {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: block;
  font-style: normal;
  font-weight: 400;
  margin: 6px 0;
  color: #323235; }

a {
  text-decoration: none;
  color: #ffffff; }
  a.red {
    color: #ef201b; }
  a.yellow {
    color: #fdca31; }

label {
  color: #b2b2bc;
  font-size: 12px;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  line-height: 30px;
  margin-bottom: 1em;
  padding: 0.5em; }

input, textarea, select {
  display: block;
  background-color: #323235;
  border: none;
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
  font-family: "Inconsolata", serif;
  font-size: 16px;
  color: #b2b2bc;
  padding: 0.25em 0.5em 0.25em 0.25em;
  box-sizing: content-box; }

input:focus, select:focus, textarea:focus {
  outline: 0;
  box-shadow: none; }

textarea {
  height: auto; }

#page-wrapper {
  margin-left: 250px;
  padding-top: 40px;
  position: relative;
  z-index: 10;
  min-height: 100%;
  margin-bottom: 200px; }

#sections {
  width: 80%;
  max-width: 800px;
  margin: auto; }

.form-container {
  background-color: #29292c;
  padding: 20px;
  margin-top: 20px; }

#nav-button {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  color: #ffffff;
  text-decoration: none;
  line-height: 16px;
  transition: left 0.3s ease-in-out; }
  #nav-button:hover {
    opacity: 0.8; }
  #nav-button span {
    display: block;
    padding: 10px 35px 10px 10px;
    background-image: url("../images/menu-icon.png");
    background-repeat: no-repeat;
    background-color: #ef201b;
    color: #ffffff;
    font-weight: bold;
    background-position: center right 3px;
    margin: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px; }

#main-nav {
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #000000;
  font-size: 14px;
  padding-top: 40px; }
  #main-nav h1 {
    background-image: url("../images/logo-1.png");
    background-repeat: no-repeat;
    background-position: 25px;
    height: 200px;
    text-indent: -9999px;
    background-size: 80%;
    margin-bottom: 40px; }
  #main-nav li a {
    padding: 10px 40px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-left: 5px solid #000000;
    font-weight: 400; }
    #main-nav li a:hover {
      border-left: 5px solid #fdca31;
      color: #fdca31; }
    #main-nav li a.nav-active {
      color: #ef201b;
      border-left: 5px solid #ef201b; }

#logo {
  overflow: hidden; }
  #logo .logos {
    margin-top: 40px; }
    #logo .logos li {
      width: 44%;
      float: left;
      margin: 1% 2% 1% 0;
      background-color: #ffffff;
      padding: 2%;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px; }
      #logo .logos li.black {
        background-color: #000000; }
      #logo .logos li img {
        margin: auto;
        display: block;
        padding: 50px 0px;
        width: 100%;
        max-width: 300px; }
      #logo .logos li span {
        text-align: center; }

#color #color-samples {
  margin-bottom: 30px;
  overflow: hidden; }
  #color #color-samples li {
    width: 31%;
    float: left;
    min-height: 235px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 1% 2% 1% 0; }
    #color #color-samples li.green {
      background-color: #33E46D; }
    #color #color-samples li.white {
      background-color: #ffffff; }
    #color #color-samples li.yellow {
      background-color: #fdca31; }
    #color #color-samples li.red {
      background-color: #ef201b; }
    #color #color-samples li.dark-grey {
      background-color: #323235; }
    #color #color-samples li.light-grey {
      background-color: #b2b2bc; }
    #color #color-samples li.black {
      background-color: #000000; }
  #color #color-samples p {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    bottom: 0;
    top: 150px;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 16px;
    border-top: 1px solid #b2b2bc; }
    #color #color-samples p span {
      display: block; }

#typography ul.font-family {
  font-size: 36px;
  line-height: 44px;
  width: 50%;
  float: left;
  margin-bottom: 30px; }
  #typography ul.font-family.font-family-inconsolata {
    font-family: "Inconsolata", serif; }
  #typography ul.font-family.italic {
    font-style: italic; }
  #typography ul.font-family li {
    padding-bottom: 10px; }
    #typography ul.font-family li.light {
      font-weight: 300; }
    #typography ul.font-family li.bold {
      font-weight: 700; }
    #typography ul.font-family li.italic {
      font-style: italic; }

.paragraph {
  font-family: "Inconsolata", serif;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 1em; }
  .paragraph.objection, .paragraph span {
    font-weight: bold;
    color: #ef201b;
    margin: 0;
    font-size: inherit;
    text-transform: none;
    display: inline; }
  .paragraph.title {
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    width: 50%;
    margin: 0px auto 0px auto;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: solid 1px #ffffff; }
  .paragraph.white {
    color: #ffffff;
    text-align: center; }

mark {
  font-size: 20px;
  background-color: #fdca31; }

strong {
  font-weight: bold; }

#headings {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000000;
  text-transform: none;
  font-style: normal; }
  #headings h1 {
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 0em;
    font-weight: bold; }
  #headings h2 {
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 0; }
  #headings h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    font-family: "Inconsolata", serif; }
  #headings h5 {
    text-transform: uppercase;
    font-weight: bold;
    color: #ef201b;
    font-size: 19px;
    font-family: "Inconsolata", serif; }

#links-buttons h2 {
  margin-bottom: 40px; }
#links-buttons p {
  float: left; }
#links-buttons a.button {
  display: block;
  width: 40%;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  color: #fff;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 10px 0px 10px 0px;
  transition: 0.5s;
  text-decoration: none; }
  #links-buttons a.button:hover {
    background-color: #33E46D;
    background-image: none; }
  #links-buttons a.button:active {
    color: #ffffff;
    background-color: #33E46D;
    background-image: linear-gradient(-180deg, #34d058, #28a745 90%); }

#forms input, #forms textarea {
  width: 100%; }

a.link.red:after {
  background-color: #ef201b; }
a.link.yellow:after {
  background-color: #fdca31; }
a.link:after {
  content: "";
  display: block;
  height: 2px;
  background-color: #ffffff;
  width: 0%;
  margin-top: 5px; }
a.link:hover:after {
  width: 100%; }

#icons ul {
  overflow: hidden; }
  #icons ul li {
    float: left;
    width: 50%;
    padding: 20px 0; }
    #icons ul li i {
      float: left;
      padding: 20px; }
    #icons ul li span {
      float: left;
      margin: 20px 10px; }

@media screen and (max-width: 992px) {
  #icons ul li {
    width: 100%; }

  #typography ul.font-family {
    width: 100%; }

  #color #color-samples li {
    width: 48%; } }
@media screen and (max-width: 768px) {
  #logo .logos li {
    width: 100%; }

  #nav-button {
    display: block; }
    #nav-button.open span {
      background-image: url("../images/close-icon.png"); }

  #main-nav {
    width: 100%;
    right: -768px;
    left: auto; }
    #main-nav.open {
      right: 0; }
      #main-nav.open li a:hover, #main-nav.open li a:active {
        color: #ef201b;
        border-color: #ef201b; }

  #page-wrapper {
    margin-left: 0;
    padding-top: 80px; } }
@media screen and (max-width: 500px) {
  #logo .logos li img {
    width: 80%; } }
@media screen and (max-width: 375px) {
  #color #color-samples li {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
