@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,500,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #f8f8f8;
  font-family: "Source Code Pro", monospace;
  -webkit-font-smoothing: antialiased;
  color: #222222;
  padding-top: 4rem; }
  body .modal-active {
    overflow: hidden; }

#page-wrapper {
  margin-left: 0px;
  padding-top: 40px;
  position: relative;
  z-index: 10;
  min-height: 100%; }
  @media (min-width: 768px) {
    #page-wrapper {
      margin-left: 250px; } }

#sections {
  width: 80%;
  max-width: 800px;
  margin: auto; }
  #sections .section {
    padding: 60px 0; }
    #sections .section .section-content {
      background-color: rgba(218, 218, 218, 0.3);
      padding: 3rem;
      margin-bottom: 1rem; }

#nav-button {
  display: #222222;
  text-align: left;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  color: #f8f8f8;
  text-decoration: none;
  line-height: 16px;
  transition: left 0.3s ease-in-out; }
  @media (min-width: 768px) {
    #nav-button {
      display: none; } }
  #nav-button:hover {
    opacity: 0.8; }
  #nav-button span {
    display: block;
    padding: 10px 35px 10px 10px;
    background-image: url("../images/menu-icon.png");
    background-repeat: no-repeat;
    background-color: #ff0000;
    color: #f8f8f8;
    font-weight: bold;
    background-position: center right 3px;
    margin: 10px; }

#main-nav {
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 30;
  top: 0;
  left: -250px;
  bottom: 0;
  width: 250px;
  background-color: #222222;
  font-size: 14px;
  padding-top: 40px; }
  @media (min-width: 768px) {
    #main-nav {
      left: 0;
      transition: left 0.3s ease-in-out; } }
  #main-nav.open {
    left: 0;
    transition: left 0.3s ease-in-out; }
  #main-nav h1 {
    background-image: url("../images/logo-1.png");
    background-repeat: no-repeat;
    background-position: 25px;
    height: 200px;
    text-indent: -9999px;
    background-size: 80%;
    margin-bottom: 40px; }
  #main-nav li {
    display: block;
    text-align: left; }
    #main-nav li a {
      padding: 10px 40px;
      display: block;
      text-decoration: none;
      color: #f8f8f8;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      border-left: 5px solid #222222;
      font-weight: 400; }
      #main-nav li a:hover {
        border-left: 5px solid #fdca31;
        color: #fdca31; }
      #main-nav li a.nav-active {
        color: #ff0000;
        border-left: 5px solid #ff0000; }

#logo {
  overflow: hidden; }
  #logo .logos {
    margin-top: 40px; }
    #logo .logos li {
      width: 100%;
      float: none;
      background: rgba(218, 218, 218, 0.3);
      margin: 10px;
      padding-bottom: 10px; }
      @media (min-width: 992px) {
        #logo .logos li {
          width: 45%;
          float: left; } }
      #logo .logos li img {
        margin: auto;
        display: block;
        padding: 20px 0px;
        width: 100%;
        max-width: 300px; }
      #logo .logos li span {
        text-align: center;
        font-weight: 100; }

#color #color-samples {
  margin-bottom: 30px;
  overflow: hidden; }
  #color #color-samples li {
    width: 25%;
    float: left;
    min-height: 235px;
    box-sizing: border-box; }
    #color #color-samples li.green {
      background-color: #00d242; }
    #color #color-samples li.white {
      background-color: #f8f8f8; }
    #color #color-samples li.yellow {
      background-color: #fdca31; }
    #color #color-samples li.red {
      background-color: #ff0000; }
    #color #color-samples li.dark-grey {
      background-color: #323235; }
    #color #color-samples li.light-grey {
      background-color: #dadada; }
    #color #color-samples li.black {
      background-color: #222222; }
    #color #color-samples li.white {
      background-color: #f8f8f8;
      border: 1px solid #222222; }
  #color #color-samples p {
    background-color: #f8f8f8;
    position: relative;
    width: 100%;
    bottom: 0;
    top: 150px;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 16px; }
    #color #color-samples p span {
      display: block; }

body {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.36px;
  text-align: center;
  overflow-x: hidden; }

p {
  font-size: 0.875rem;
  line-height: 1.42;
  letter-spacing: 0.7px;
  margin-bottom: 1.625rem; }
  @media (min-width: 576px) {
    p {
      font-size: 1rem; } }

h1 {
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 1.08;
  letter-spacing: 1.18px;
  margin-bottom: 2rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.625rem;
      margin-bottom: 3rem; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 3.25rem;
      line-height: 1.25;
      margin-bottom: 4rem; } }

h2 {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.32;
  letter-spacing: 0.5px;
  margin-bottom: 1.625rem; }
  @media (min-width: 576px) {
    h2 {
      font-size: 1rem; } }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.375rem; } }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.underlined {
  border-bottom: 3px solid #fdca31;
  display: inline;
  padding-bottom: 1rem; }

mark {
  background-color: #00d242; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    list-style: none;
    display: block;
    padding: 0 1rem;
    font-family: "Source Code Pro", monospace;
    font-weight: 900; }

code {
  font-family: monospace;
  color: #222222;
  background-color: rgba(50, 50, 53, 0.1); }

.font-family .light {
  font-family: "Source Code Pro", monospace;
  font-weight: 300; }
.font-family .medium {
  font-family: "Source Code Pro", monospace;
  font-weight: 500; }
.font-family .black {
  font-family: "Source Code Pro", monospace;
  font-weight: 900; }

.btn {
  background-color: #00d242;
  color: #f8f8f8;
  text-align: center;
  padding: 1.22rem 3rem;
  border-radius: 0;
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  text-decoration: none;
  overflow-wrap: break-word;
  border: none; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #009f32;
    color: #f8f8f8;
    transition: all 0.2s ease-in; }
  @media (min-width: 768px) {
    .btn {
      font-size: 1rem; } }

.btn-link {
  color: #222222;
  text-decoration: underline;
  transition: all 0.2s ease-in;
  padding: 0 3rem; }
  .btn-link:hover {
    color: #00d242;
    transition: all 0.2s ease-in;
    text-decoration: none; }
  @media (min-width: 768px) {
    .btn-link {
      font-size: 1rem; } }
  .btn-link.active {
    color: #00d242;
    text-decoration: none;
    cursor: default; }

.top-top {
  position: absolute;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  top: 0; }
  .top-top a {
    display: block; }

a {
  color: #00d242;
  text-decoration: underline; }
  a:hover {
    color: #00d242;
    text-decoration: none; }

#forms .form-error {
  color: #ff0000;
  padding: 1rem 2rem;
  border: 2px solid #ff0000;
  color: #222222;
  text-align: left;
  margin: 1em 0; }
  #forms .form-error i {
    color: #fdca31; }
#forms .success-message {
  background-color: #00d242;
  color: #f8f8f8;
  padding: 10px;
  height: 27px; }
#forms .error-explanation {
  background-color: #ff0000;
  color: #f8f8f8;
  padding: 10px;
  height: 27px; }
#forms .form-success {
  text-align: left;
  padding: 2rem;
  border: 2px solid #00d242;
  color: #222222; }
#forms #validation-box {
  width: 100%; }
#forms .mdl-textfield--floating-label, #forms .mdl-textfield--floating-label.has-placeholder, #forms .mdl-textfield--floating-label.is-dirty {
  position: relative;
  width: 100%; }
  #forms .mdl-textfield--floating-label .mdl-textfield__label, #forms .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label, #forms .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #00d242; }
    #forms .mdl-textfield--floating-label .mdl-textfield__label::after, #forms .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label::after, #forms .mdl-textfield--floating-label.is-dirty .mdl-textfield__label::after {
      background-color: #009f32;
      height: 3px; }
  #forms .mdl-textfield--floating-label .mdl-textfield__value, #forms .mdl-textfield--floating-label.has-placeholder .mdl-textfield__value, #forms .mdl-textfield--floating-label.is-dirty .mdl-textfield__value {
    position: absolute;
    right: 0;
    top: 0;
    color: #dadada; }
  #forms .mdl-textfield--floating-label select, #forms .mdl-textfield--floating-label.has-placeholder select, #forms .mdl-textfield--floating-label.is-dirty select {
    cursor: pointer; }
  #forms .mdl-textfield--floating-label .mdl-textfield__chevron, #forms .mdl-textfield--floating-label.has-placeholder .mdl-textfield__chevron, #forms .mdl-textfield--floating-label.is-dirty .mdl-textfield__chevron {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #222222; }
  #forms .mdl-textfield--floating-label .mdl-textfield__input, #forms .mdl-textfield--floating-label.has-placeholder .mdl-textfield__input, #forms .mdl-textfield--floating-label.is-dirty .mdl-textfield__input {
    background-color: rgba(218, 218, 218, 0.58);
    border-bottom: 3px solid #00d242;
    padding: 10px 15px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    #forms .mdl-textfield--floating-label .mdl-textfield__input::placeholder, #forms .mdl-textfield--floating-label.has-placeholder .mdl-textfield__input::placeholder, #forms .mdl-textfield--floating-label.is-dirty .mdl-textfield__input::placeholder {
      color: rgba(50, 50, 53, 0.28); }
  #forms .mdl-textfield--floating-label .mdl-slider__container, #forms .mdl-textfield--floating-label.has-placeholder .mdl-slider__container, #forms .mdl-textfield--floating-label.is-dirty .mdl-slider__container {
    margin-top: 2.1rem; }
    #forms .mdl-textfield--floating-label .mdl-slider__container input[type=range]::-webkit-slider-thumb, #forms .mdl-textfield--floating-label.has-placeholder .mdl-slider__container input[type=range]::-webkit-slider-thumb, #forms .mdl-textfield--floating-label.is-dirty .mdl-slider__container input[type=range]::-webkit-slider-thumb {
      background: #00d242;
      transform: scale(2); }
    #forms .mdl-textfield--floating-label .mdl-slider__container input[type=range]::-moz-range-thumb, #forms .mdl-textfield--floating-label.has-placeholder .mdl-slider__container input[type=range]::-moz-range-thumb, #forms .mdl-textfield--floating-label.is-dirty .mdl-slider__container input[type=range]::-moz-range-thumb {
      background: #00d242;
      transform: scale(2); }
    #forms .mdl-textfield--floating-label .mdl-slider__container input[type=range]::-ms-thumb, #forms .mdl-textfield--floating-label.has-placeholder .mdl-slider__container input[type=range]::-ms-thumb, #forms .mdl-textfield--floating-label.is-dirty .mdl-slider__container input[type=range]::-ms-thumb {
      background: #00d242;
      transform: scale(2); }
    #forms .mdl-textfield--floating-label .mdl-slider__container .mdl-slider, #forms .mdl-textfield--floating-label.has-placeholder .mdl-slider__container .mdl-slider, #forms .mdl-textfield--floating-label.is-dirty .mdl-slider__container .mdl-slider {
      margin: 0; }
    #forms .mdl-textfield--floating-label .mdl-slider__container .mdl-slider__background-flex, #forms .mdl-textfield--floating-label.has-placeholder .mdl-slider__container .mdl-slider__background-flex, #forms .mdl-textfield--floating-label.is-dirty .mdl-slider__container .mdl-slider__background-flex {
      width: 100%;
      margin: 0;
      height: 3px;
      background-color: transparent; }
      #forms .mdl-textfield--floating-label .mdl-slider__container .mdl-slider__background-flex .mdl-slider__background-lower, #forms .mdl-textfield--floating-label.has-placeholder .mdl-slider__container .mdl-slider__background-flex .mdl-slider__background-lower, #forms .mdl-textfield--floating-label.is-dirty .mdl-slider__container .mdl-slider__background-flex .mdl-slider__background-lower {
        background-color: rgba(218, 218, 218, 0.58); }
      #forms .mdl-textfield--floating-label .mdl-slider__container .mdl-slider__background-flex .mdl-slider__background-upper, #forms .mdl-textfield--floating-label.has-placeholder .mdl-slider__container .mdl-slider__background-flex .mdl-slider__background-upper, #forms .mdl-textfield--floating-label.is-dirty .mdl-slider__container .mdl-slider__background-flex .mdl-slider__background-upper {
        background-color: rgba(218, 218, 218, 0.58); }
#forms .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
  color: #ff0000; }
  #forms .mdl-textfield--floating-label.is-invalid .mdl-textfield__label::after {
    background-color: #cc0000;
    height: 3px; }
#forms .mdl-textfield--floating-label.is-invalid .mdl-textfield__input {
  border-bottom: 3px solid #ff0000; }

.accordion {
  max-width: 780px;
  margin: 0 auto;
  text-align: left; }
  .accordion .card {
    border: none;
    background: transparent; }
    .accordion .card .card-container {
      position: relative;
      padding: 0rem 0rem 0rem 1rem;
      border-top: 2px solid #fdca31; }
      .accordion .card .card-container .card-header {
        position: relative;
        z-index: 3;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none; }
      .accordion .card .card-container .btn-accordion {
        text-align: left;
        width: 100%;
        font-weight: bold;
        border: none;
        outline: none;
        padding: 0;
        padding: 1.5rem 4rem 1.5rem 0;
        background-color: transparent;
        transition: all 0.2s ease-in; }
        .accordion .card .card-container .btn-accordion:hover {
          color: #fdca31;
          transition: all 0.2s ease-in; }
      .accordion .card .card-container .card-toggler {
        position: absolute;
        top: 0;
        right: 0; }
        .accordion .card .card-container .card-toggler::after {
          content: "+";
          font-size: 3rem;
          color: #fdca31; }
      .accordion .card .card-container .collapsing + .card-toggler::after, .accordion .card .card-container .in + .card-toggler::after {
        content: "-"; }
      .accordion .card .card-container .card-body {
        padding: 1.5rem 0; }
    .accordion .card:last-child {
      border-bottom: 2px solid #fdca31; }

/*# sourceMappingURL=main.css.map */
