html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #FDFCFC;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: black; }

body.modal-active {
  overflow: hidden; }

h1 {
  font-size: 40px;
  font-style: italic;
  color: #f70a7c;
  margin-bottom: 40px; }

h2 {
  font-size: 28px;
  font-weight: 700;
  padding-top: 40px;
  clear: both;
  border-bottom: 1px solid #272727;
  padding-bottom: 10px; }

h3 {
  font-size: 16px;
  margin: 40px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  clear: both;
  padding-bottom: 10px;
  font-weight: 700; }

p {
  line-height: 1.3em; }

span {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: block;
  font-style: normal;
  font-weight: 400;
  margin: 6px 0;
  color: #666666; }

a {
  color: black;
  text-decoration: none;
  font-weight: bold; }

a:hover {
  color: #f70a7c; }

label {
  color: white;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 12px;
  display: inline-block; }

input {
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  box-shadow: none;
  font-size: 1em;
  line-height: 1em;
  padding: .5em .8em;
  background-color: white;
  border: 0px;
  margin: 0;
  box-shadow: none; }

select {
  margin: 0;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  border: 0px;
  padding: .5em .8em;
  font-size: 1em;
  line-height: 1em;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  height: 36px; }

textarea {
  border-radius: 4px;
  background-color: white;
  font-size: 1em;
  margin: 0;
  padding: 7px;
  font-size: 1em;
  box-shadow: none;
  border: 0px; }

input:focus, select:focus, textarea:focus {
  outline: 0;
  box-shadow: none; }

#page-wrapper {
  margin-left: 250px;
  padding-top: 40px;
  position: relative;
  z-index: 10;
  min-height: 100%;
  margin-bottom: 200px; }

#sections {
  width: 80%;
  max-width: 800px;
  margin: auto; }

.form-container {
  background-color: #f70a7c;
  padding: 20px;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

#nav-button {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  color: white;
  text-decoration: none;
  line-height: 16px;
  transition: left 0.3s ease-in-out; }
  #nav-button:hover {
    opacity: 0.8; }
  #nav-button span {
    display: block;
    padding: 10px 35px 10px 10px;
    background-image: url("../images/menu-icon.png");
    background-repeat: no-repeat;
    background-color: #f70a7c;
    color: white;
    font-weight: bold;
    background-position: center right 3px;
    margin: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px; }

#main-nav {
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: black;
  font-size: 14px;
  padding-top: 40px; }
  #main-nav h1 {
    background-image: url("../images/style-guide-logo.png");
    background-repeat: no-repeat;
    background-position: 25px;
    height: 200px;
    text-indent: -9999px;
    margin-bottom: 40px; }
  #main-nav li a {
    padding: 10px 40px;
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-left: 5px solid black;
    font-weight: 400; }
    #main-nav li a:hover {
      border-left: 5px solid #ffcc00;
      color: #ffcc00; }
    #main-nav li a.nav-active {
      color: #f70a7c;
      border-left: 5px solid #f70a7c; }

#logo {
  overflow: hidden; }
  #logo .logos {
    margin-top: 40px; }
    #logo .logos li {
      width: 44%;
      float: left;
      margin: 1% 2% 1% 0;
      background-color: white;
      padding: 2%;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px; }
      #logo .logos li.black {
        background-color: black; }
      #logo .logos li img {
        margin: auto;
        display: block;
        padding: 50px 0px;
        width: 100%;
        max-width: 300px; }
      #logo .logos li span {
        text-align: center; }

#color #color-samples {
  margin-bottom: 30px;
  overflow: hidden; }
  #color #color-samples li {
    width: 31%;
    float: left;
    min-height: 235px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 1% 2% 1% 0; }
    #color #color-samples li.green {
      background-color: #00ff8c; }
    #color #color-samples li.orange {
      background-color: #ffcc00; }
    #color #color-samples li.white {
      background-color: white; }
    #color #color-samples li.magenta {
      background-color: #f70a7c; }
    #color #color-samples li.dark-grey {
      background-color: #272727; }
    #color #color-samples li.light-grey {
      background-color: #eff7f7; }
    #color #color-samples li.black {
      background-color: black; }
  #color #color-samples p {
    background-color: white;
    position: relative;
    width: 100%;
    bottom: 0;
    top: 150px;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 16px;
    border-top: 1px solid #eff7f7; }
    #color #color-samples p span {
      display: block; }

#typography ul.font-family {
  font-size: 36px;
  line-height: 44px;
  width: 50%;
  float: left;
  margin-bottom: 30px; }
  #typography ul.font-family.italic {
    font-style: italic; }
  #typography ul.font-family li {
    padding-bottom: 10px; }
    #typography ul.font-family li.light {
      font-weight: 300; }
    #typography ul.font-family li.bold {
      font-weight: 700; }
    #typography ul.font-family li.italic {
      font-style: italic; }

.paragraph {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.05882em; }

#headings .h1, .h2, .h3 {
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
  text-transform: none;
  font-style: normal; }
  #headings .h1.h1, .h2.h1, .h3.h1 {
    font-size: 42px;
    font-weight: 700;
    font-style: italic;
    line-height: 1.2em; }
  #headings .h1.h2, .h2.h2, .h3.h2 {
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em; }
  #headings .h1.h3, .h2.h3, .h3.h3 {
    font-size: 27px;
    font-weight: 700;
    text-transform: none;
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1.2em; }

#links-buttons h2 {
  margin-bottom: 40px; }
#links-buttons p {
  float: left; }
#links-buttons a.button {
  background-color: #f70a7c;
  color: white;
  padding: .5em 1.5em;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  margin-right: 2%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: inline-block;
  font-style: italic;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.13);
  margin-bottom: 1em; }
  #links-buttons a.button:hover {
    background-color: white;
    text-decoration: none;
    color: #f70a7c; }
  #links-buttons a.button:active {
    color: black;
    background: #f70a7c; }
  #links-buttons a.button.secondary {
    background-color: white;
    color: black; }
    #links-buttons a.button.secondary:hover {
      color: #f70a7c; }
    #links-buttons a.button.secondary:active {
      background-color: #f70a7c;
      color: black; }

#forms input, #forms textarea {
  width: 100%; }

#icons ul {
  overflow: hidden; }
  #icons ul li {
    float: left;
    width: 50%;
    padding: 20px 0; }
    #icons ul li i {
      float: left;
      padding: 20px;
      background-color: white;
      border-radius: 32px; }
      #icons ul li i:hover {
        background-color: #f70a7c;
        color: white; }
    #icons ul li span {
      float: left;
      margin: 20px 10px; }

@media screen and (max-width: 992px) {
  #icons ul li {
    width: 100%; }

  #typography ul.font-family {
    width: 100%; }

  #color #color-samples li {
    width: 48%; } }
@media screen and (max-width: 768px) {
  #logo .logos li {
    width: 100%; }

  #nav-button {
    display: block; }
    #nav-button.open span {
      background-image: url("../images/close-icon.png"); }

  #main-nav {
    width: 100%;
    right: -768px;
    left: auto; }
    #main-nav.open {
      right: 0; }
      #main-nav.open li a:hover, #main-nav.open li a:active {
        color: #f70a7c;
        border-color: #f70a7c; }

  #page-wrapper {
    margin-left: 0;
    padding-top: 80px; } }
@media screen and (max-width: 500px) {
  #logo .logos li img {
    width: 80%; } }
@media screen and (max-width: 375px) {
  #color #color-samples li {
    width: 100%; } }
