body{
  background: #FDFCFC;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $black;
}
body.modal-active{
  overflow: hidden;
}
h1{
  font-size: 40px;
  font-style: italic;
  color: $green;
  margin-bottom: 40px;
}
h2{
  font-size: 28px;
  font-weight: 700;
  padding-top: 40px;
  clear: both;
  border-bottom: 1px solid $light_grey;
  padding-bottom: 10px;
}
h3{
  font-size: 16px;
  margin: 40px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  clear: both;
  padding-bottom: 10px;
  font-weight: 700;
}
p{
  line-height: 1.3em;
}
span{
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: block;
  font-style: normal;
  font-weight: 400;
  margin: 6px 0;
  color: $grey;
}
a{
  color:$green;
  text-decoration: none;
  font-weight: bold;
}
a:hover{
  text-decoration: underline;
}
label{
  color: $grey;
  font-weight: bold;
  margin-bottom: 12px;
  display: inline-block;
}
input{
  background-color: $white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1em;
  line-height: 1em;
  padding: .5em .8em;
  background-color: $white;
  border: 1px solid $light_grey;
  margin: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

select{
  margin: 0;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $light_grey;
  padding: .5em .8em;
  font-size: 1em;
  line-height: 1em;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  height: 36px;
}
textarea{
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $light_grey;
  font-size: 1em;
  margin: 0;
  padding: 7px;
  font-size: 1em;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

}
input:focus, select:focus, textarea:focus{
  border: 1px solid $bluish_green !important;
  outline: 0;
  box-shadow: none;
}
#page-wrapper{
  margin-left: 250px;
  padding-top: 40px;
  position: relative;
  z-index: 10;
  min-height: 100%;
  margin-bottom: 200px;
}
#sections{
  width: 80%;
  max-width: 800px;
  margin: auto;
}
