#links-buttons{
  h2{
    margin-bottom: 40px;
  }
  p {
    float: left;
  }
  a.button{
    display: block;
    width: 40%;
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    color: #fff;
    font-family: $font-open-sans;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0px 10px 0px;
    transition: 0.5s;
    text-decoration: none;
    &:hover{
      background-color: $green;
      background-image: none;
    }
    &:active{
      color:$white;
      background-color: $green;
      background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    }
  }
}
#forms input, #forms textarea{
  width: 100%;
}
a.link{
  &.red{
    &:after{
      background-color: $red;
    }
  }
  &.yellow{
    &:after{
      background-color: $yellow;
    }
  }
  &:after{
    content: "";
    display: block;
    height: 2px;
    background-color: $white;
    width: 0%;
    margin-top: 5px;
  }
  &:hover{
    &:after{
      width: 100%;
    }
  }
}
