#links-buttons{
  h2{
    margin-bottom: 40px;
  }
  p {
    float: left;
  }
  a.button{
    background-color: $magenta;
    color: $white;
    padding: .5em 1.5em;
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
    margin-right: 2%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: inline-block;
    font-style: italic;
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.13);
    box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.13);
    margin-bottom: 1em;
    &:hover{
      background-color: $white;
      text-decoration: none;
      color: $magenta;
    }
    &:active{
      color:$black;
      background: $magenta;
    }
    &.secondary{
      background-color: $white;
      color: $black;
      &:hover{
        color:$magenta;
      }
      &:active{
        background-color: $magenta;
        color: $black;
      }
    }
  }
}
#forms input, #forms textarea{
  width: 100%;
}
