#color #color-samples{
  margin-bottom: 30px;
  overflow: hidden;
  li{
    width: 31%;
    float: left;
    min-height: 235px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 1% 2% 1% 0;
    &.brown{
      background-color: $brown;
    }
    &.green{
      background-color: $green;
    }
    &.light-green{
      background-color: $light_green;
    }
    &.orange{
      background-color: $orange;
    }
    &.light-orange{
      background-color: $light_orange;
    }
    &.white{
      background-color: $white;
    }
    &.light-yellow{
      background-color: $light_yellow;
    }
    &.grey{
      background-color: $grey;
    }
    &.black{
      background-color: $black;
    }
  }
  p{
    background-color: $white;
    position: relative;
    width: 100%;
    bottom: 0;
    top:150px;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 16px;
    border-top: 1px solid $light_grey;
    span{
      display: block;
    }
  }
}
