.flash-message{
  padding: 10px 20px;
	margin-top: 2em;
	margin-bottom: 2em;
  border-radius: 24px;
  display: inline-block;
  &.flash-error {
    background: $orange;
  }
  &.flash-warning {
    background: $magenta;
    color: $white;
  }
  &.flash-success {
    background: $green;
  }
  &.flash-info {
    background: $medium_grey;
    color: $white;
  }
}