#typography ul.font-family{
  font-size: 36px;
  line-height: 44px;
  width: 50%;
  float: left;
  margin-bottom: 30px;
  &.font-family-inconsolata{
    font-family: $font-inconsolata;
  }
  &.italic{
    font-style: italic;
  }
  li{
    padding-bottom: 10px;
    &.light{
      font-weight: 300;
    }
    &.bold{
      font-weight: 700;
    }
    &.italic{
      font-style: italic;
    }
  }
}
.paragraph{
  font-family: $font-inconsolata;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 1em;
  &.objection, span {
    font-weight: bold;
    color: $red;
    margin: 0;
    font-size: inherit;
    text-transform: none;
    display: inline;
  }
  &.title {
    font-family: $font-open-sans;
    font-weight: bold;
    color: $white;
    width: 50%;
    margin: 0px auto 0px auto;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: solid 1px $white;
  }
  &.white {
    color: $white;
    text-align: center;
  }
}

mark{
  font-size: 20px;
  background-color: #fdca31;
}

strong{
  font-weight: bold;
}

#headings{
  margin: 0;
  padding:0;
  border: 0;
  color: $black;
  text-transform: none;
  font-style: normal;
  h1{
    font-size: 2.5em; 
    margin-top: 1em; 
    margin-bottom: 0em;
    font-weight: bold;
  }
  h2{
    font-family: $font-open-sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
  }
  h4{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    font-family: $font-inconsolata;
  }
  h5{
    text-transform: uppercase;
    font-weight: bold;
    color: $red;
    font-size: 19px;
    font-family: $font-inconsolata;
  }
}
