// === VARIABLES
// ==========================

// Colors:
$light-green: #D9F1F1;
$green: #57CE81;
$orange: #FFCC00;
$magenta: #F70A7C;
$light_grey: #EFF7F7;
$slogan_grey: #666;
$dark_grey: #272727;
$black:#000000;
$white:#ffffff;

// Measurements:
$gutter: 30px;
$hover_transition_time: 200ms;
$lean_startup_process_graph_height: 642px;
$image_isotype_height: 77px;
$logo_width: 410px;
$logo_height: 60px;

// Typography:
$font-lato: "Lato", "Helvetica", Arial, sans-serif;
$font-maven: "Maven", "Lato", "Helvetica", Arial, sans-serif;
$base-font-size: 17px;
$base-line-height: 1.4;

// Breakpoints:
$breakpoint_0: 500px;
$breakpoint_1: 768px;
$breakpoint_2: 992px;
$breakpoint_3: 1200px;
$breakpoint_4: 1400px;

// Images:
$image_isotype_static: "isotype.png";
$image_isotype_animated: "isotype_vector.svg";

$image_green_triangle: "green_triangle.png";
$image_lean_square: "lean_square.png";
$image_agile_circle: "agile_circle.png";
$image_ux_triangle: "ux_triangle.png";
$image_lean_process_old: "lean_process.png";
$image_lean_process: "lean_startup_process_graph.svg";
$image_circles_background_arrow: "circles_background_arrow.png";
$image_staff_ernesto: "staff-nesto-final.jpg";
$image_staff_lucas: "staff-luke-final.jpg";
$image_staff_mauro: "staff-mauro_2.jpg";
$image_staff_ignacio: "staff-ignacio.jpg";
